# UNIDAD 2 - PROCESAMIENTO PREVIO DE DATOS
## PD4 Ej 2

La idea del ejercicio es calcular la probabilidad condicional de que una persona sobreviva, dados su sexo y clase de pasajero

Blog de Referencia: http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/problem12.html

In [17]:
import pandas as pd

titanic_data = pd.read_csv("train.csv")

titanicData.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Probabilidad condicional de sobrevivir dado si el genero y dado la clase

In [18]:
total_female_class1 = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 1)])
female_class1_survive = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 1) & (titanic_data['Survived'] == 1)])
prob_female_class1_survive = female_class1_survive / total_female_class1 if total_female_class1 > 0 else 0

print("P(Survived=1 | Sex=female, Pclass=1):", prob_female_class1_survive)

P(Survived=1 | Sex=female, Pclass=1): 0.9680851063829787

In [19]:
total_female_class2 = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 2)])
female_class2_survive = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 2) & (titanic_data['Survived'] == 1)])
prob_female_class2_survive = female_class2_survive / total_female_class2 if total_female_class2 > 0 else 0

print("P(Survived=1 | Sex=female, Pclass=2):", prob_female_class2_survive)

P(Survived=1 | Sex=female, Pclass=2): 0.9210526315789473

In [20]:
total_female_class3 = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 3)])
female_class3_survive = len(titanic_data[(titanic_data['Sex'] == 'female') & (titanic_data['Pclass'] == 3) & (titanic_data['Survived'] == 1)])
prob_female_class3_survive = female_class3_survive / total_female_class3 if total_female_class3 > 0 else 0

print("P(Survived=1 | Sex=female, Pclass=3):", prob_female_class3_survive)

P(Survived=1 | Sex=female, Pclass=3): 0.5

In [21]:
total_male_class1 = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 1)])
male_class1_survive = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 1) & (titanic_data['Survived'] == 1)])
prob_male_class1_survive = male_class1_survive / total_male_class1 if total_male_class1 > 0 else 0

print("P(Survived=1 | Sex=male, Pclass=1):", prob_male_class1_survive)

P(Survived=1 | Sex=male, Pclass=1): 0.36885245901639346

In [22]:
total_male_class2 = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 2)])
male_class2_survive = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 2) & (titanic_data['Survived'] == 1)])
prob_male_class2_survive = male_class2_survive / total_male_class2 if total_male_class2 > 0 else 0

print("P(Survived=1 | Sex=male, Pclass=2):", prob_male_class2_survive)

P(Survived=1 | Sex=male, Pclass=2): 0.1574074074074074

In [23]:
total_male_class3 = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 3)])
male_class3_survive = len(titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Pclass'] == 3) & (titanic_data['Survived'] == 1)])
prob_male_class3_survive = male_class3_survive / total_male_class3 if total_male_class3 > 0 else 0

print("P(Survived=1 | Sex=male, Pclass=3):", prob_male_class3_survive)

P(Survived=1 | Sex=male, Pclass=3): 0.13544668587896252

In [24]:
total_child_class3 = len(titanic_data[(titanic_data['Age'] <= 10) & (titanic_data['Pclass'] == 3)])
child_class3_survive = len(titanic_data[(titanic_data['Age'] <= 10) & (titanic_data['Pclass'] == 3) & (titanic_data['Survived'] == 1)])
prob_child_class3_survive = child_class3_survive / total_child_class3 if total_child_class3 > 0 else 0

print("P(Survived=1 | Age<=10, Pclass=3):", prob_child_class3_survive)

P(Survived=1 | Age<=10, Pclass=3): 0.4318181818181818